.root {
  padding: 2%;
  background-color: white;
  width: 100%;
}

.plane {
  margin-right: 10px;
}

.heading {
  text-align: center;
}

.text {
  font-size: large;
}
.label {
  color: #7743db;
  font-family: "Raleway", sans-serif;
  font-family: "Smooch Sans", sans-serif;
  font-size: 40px;
}

.poster {
  padding: 10%;
  margin: 10%;
  border: 1px solid black;
  box-shadow: 1px 1px 20px grey;
  border-style: none;
  border-radius: 3%;
  width: 80%;
  background-color: #e0f4ff;
  transition: width, 4s;
  color: black;
}
.poster:hover {
  width: 90%;
}
.form {
  padding: 2%;
}
.modal {
  margin: 8%;
}

.icon-phone {
  display: inline;
  margin: 1%;
  height: 45px;
}
.icon-email {
  display: inline;
  margin: 1%;
  height: 45px;
}
.icon-location {
  display: inline;
  margin: 4%;
  height: 45px;
}

.info {
  display: inline;
  margin: 1%;
  padding: 1%;
}
h5 {
  display: inline;
  margin-right: 2%;
}
.btn {
  margin-left: 30%;
}
@media screen and (max-width: 480px) {
  .icon-phone,
  .icon-email,
  .icon-location {
    display: block;
  }

  .poster {
    padding: 5%;
    font-size: 50%;
    width: 90%;
  }
  .modal {
    margin: 8%;
  }
  .heading_poster {
    font-size: 80%;
    font-weight: 700;
  }
}

@media screen and (max-width: 768px) {
  .poster {
    padding: 2%;
    font-size: 70%;
  }
  .heading_poster {
    font-size: 80%;
    font-weight: 800;
  }
}

@media screen and (max-width: 1024px) {
  .modal {
    margin: 5%;
  }
  .poster {
    padding: 2%;
    font-size: 70%;
  }
  .heading_poster {
    font-size: 100%;
    font-weight: 900;
  }
}
@media screen and (max-width: 1200px) {
  .modal {
    margin: 8%;
  }
  .poster {
    padding: 5%;
    font-size: 85%;
  }
  .heading_poster {
    font-size: 100%;
    font-weight: 900;
  }
}
