.root {
  padding: 2%;
  background-color: white;
}

.plane {
  margin-right: 10px;
}

.heading {
  text-align: center;
}

.text {
  font-size: large;
}
.label {
  color: #7743db;
  font-family: "Raleway", sans-serif;
  font-family: "Smooch Sans", sans-serif;
  font-size: 40px;
}

.poster {
  padding: 10%;
  margin: 10%;
  border: 1px solid black;
  box-shadow: 1px 1px 20px grey;
  border-style: none;
  border-radius: 3%;
  width: 80%;
  background-color: #e0f4ff;
  transition: width, 4s;
}
.poster:hover {
  width: 90%;
}
.form {
  padding: 2%;
}
.modal {
  margin: 8%;
}

.icon-phone {
  display: inline;
  margin: 1%;
}
.icon-email {
  display: inline;
  margin: 1%;
}
.icon-location {
  display: inline;
  margin: 4%;
}

.info {
  display: inline;
  margin: 1%;
  padding: 1%;
}
h5 {
  display: inline;
  margin-right: 2%;
}
.btn {
  margin-left: 30%;
}
