.root {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2%;
  box-shadow: 1px 1px 10px grey;
}

.git {
  height: 30px;
}
.link {
  color: black;
}
.brand {
  font-family: "Raleway", sans-serif;
  font-family: "Smooch Sans", sans-serif;
  font-size: 40px;
}

.brand:hover {
  color: #7743db !important;
}
.icons {
  padding: 2%;
}
.links {
  display: inline;
  border: 1px solid black;
  height: 70px;
  padding: 1%;
  border-radius: 60px;
  background-color: #eef5ff;
  transition: margin-left 2s;
  margin: 2%;
}
.links:hover {
  margin-left: 40px;
  background-color: #83a2ff;
}
