.root {
  padding: 10px;
}

.intro {
  line-height: 80px;
  margin-top: 10%;
}

.join {
  display: inline-block;
}
.git {
  height: 30px;
}

.links {
  display: inline;
  border: 1px solid black;
  height: 120px;
  padding: 4%;
  margin: 2%;
  border-radius: 60px;
  background-color: #eef5ff;
  border-style: none;
  transition: margin-left 2s;
}
.links:hover {
  margin-left: 40px;
  background-color: #83a2ff;
}

.aboutImage {
  height: 150px;
  max-height: 200px;
}
a {
  text-decoration: none;
  color: white;
}

.btn {
  width: 100px;
  transition: width 3s, box-shadow 1s;
}

.btn:hover {
  width: 120px;
  box-shadow: 1px 1px 8px, blue;
}
.profile {
  padding: 8%;
}

.typed-outt {
  overflow: hidden;
  border-right: 0.15em;
  white-space: nowrap;
  animation: typing 6.5s steps(50, end) forwards;
  font-size: 1.6rem;
  width: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin-top: 10%;
  }
}

@media screen and (max-width: 1200px) {
  p {
    line-height: normal;
  }
}
