.Img {
  height: 35rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}
.action-btn {
  position: absolute;
  top: 0;
  right: 1%;
  border: none;
  background-color: white;
  font-size: 1.5rem;
}
.action-btn:hover {
  cursor: pointer;
}

.text {
  padding: 5%;
}
table {
  width: 80%;
}

.table {
  padding: 5%;
}

.table td {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  text-align: left;
}

.table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
@media screen and (max-width: 480px) {
}

@media screen and (max-width: 768px) {
  .action-btn {
    right: 1.5%;
    top: 0%;
  }
  .Img {
    height: 25%;
    border-radius: 10px;
  }
}
