#root {
  box-shadow: 0px 1px 8px grey;
  height: 80px;
}

.brand {
  font-family: "Raleway", sans-serif;
  font-family: "Smooch Sans", sans-serif;
  font-size: 40px;
}

.active {
  color: red !important;
}

a:hover {
  color: #7743db !important;
}

@media screen and (max-width: 768px) {
  .brand {
    font-size: 25px;
  }
}
